.cancha{
  display: inline-block;
  width: 824px;
  height: 424px;
  background-color: #8EB27F;
  padding: 10px;
}
.canchaint{
  position: relative;
  width: 820px;
  height: 420px;
  background-color: #8EB27F;
  border: 2px solid white;
}
.circle{
  position: absolute;
  width: 30px;
  height:30px;
  border-radius: 50%;
  background-color: white;
}
#c1{
  left:360px;
  top:80px;
}
.arco1{
  position: absolute;
  width: 100px;
  height:200px;
  background-color: #8EB27F;
  border: 2px solid white;
}
#a1{
  top:100px;
  left: -2px;
}
#a2{
  top:100px;
  right: -2px;
}
#c2{
  right: -15px;
    top: -2px;
}
#c3{
  bottom: 0;
  left: -32px;
}
.centro{
  position: absolute;
  left: 335px;
  top: 135px;
  width: 150px;
  height:150px;
  background-color: #8EB27F;
  border: 2px solid white;
  border-radius: 50%;

}
